    <!DOCTYPE html>
    <html>
    <head>

    <!-- CSSファイルの読み込み -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

    <title>ブクトモ</title>
    </head>
    
<%= render 'layouts/homes_header'%>

 <!-- main-visual -->
  <section id="mv"><!-- 「子要素に<h>タグを含む箱」だからdivは使えない -->
    <div class="container">
      <h1 class="mv-title">ブクトモ！</h1>
      <p class="mv-text">本で人と繋がるSNS</p>
    </div>
  </section>
<section id="About">
<div class="b">
    <div class="c">
        <div class="box">
            <div class="content">
                <h2 style="right: 100px;">01</h2>
                <h3>About</h3>
                <p>本好きの本好きによる本好きのためのサイト</p>
                <p>オススメの本屋、読書スペースなどの本に関係する情報を教え合おう！</p>
                <p>もちろん本の紹介もOK!</p>
                <%# <a href="#">Read More</a> %>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h2 style="right: 65px;">02</h2>
                <h3>特徴</h3>
                <p>本に関係する投稿ができ、投稿に対してコメントすることができます。</p>
                <p>これいいな！と思った投稿には「いいね！」「読みたい！」ボタンを押そう！</p>
                <p>いい投稿をしたらランキングに乗るかも！？</p>
                <%# <a href="#">Read More</a> %>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h2 style="right: 57px;">03</h2>
                <h3>ブクトモ！を見てみる</h3>
                <p>未登録でもご利用いただけます</p>
                <%= link_to "ブクトモ！", users_index_path %>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h2 style="right: 57px;">04</h2>
                <h3>新規登録</h3>
                <p>登録するとコメントや「いいね！」「読みたい！」ができるようになります。</p>
                <%= link_to "新規登録", new_user_registration_path %>
            </div>
        </div>
    </div>
</div>
</section>
</html>