<h1>投稿一覧</h1>
<div class="container">
        <div class="row" style="height:100px;width:800px;margin:100px 0 0 0;border: 1px solid #ccc;">
                <div class="col-sm-2" style="height:100px;border: 1px solid #ccc;">画像
                </div>
                <p class="col-sm-8">タイトル
                </p>
                <div class="col-sm-2" style="text-align: right;">
                        <div class="btn btn-default" style="margin-top:10px;margin-bottom:5px;">
                                編集
                        </div>
                        <br>
                        <div class="btn btn-default" style="">
                                削除
                        </div>
                </div>
        </div>
</div>
