<%= form_with(model: [:users, post, post_comment] ) do |form| %>
  <div>
    <%= form.text_area :comment, class:"form-control" %>
  </div>
  <div class="actions" style="margin-bottom:20px;">
    <%= form.submit "コメントをする", class:'btn btn-default btn-sm' %>
  </div>
<% end %>